.messenger{
    width:100%;
    height:100%;
    background-color:#141b2bf0;
    padding:2% 3%;
}

@media screen and (max-width:600px) {
    .messenger{
       height:auto;
    }
}

.left-side{
    padding:5px 0px;
    border-right: 1px solid #213156bf;
    display:flex;
    flex-direction: column;
  
}
.top{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.image-name{
    display:flex;
    cursor: pointer;
}
.image{
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
}
.iconimage{
    width:100%;
    height:100%;
    object-fit: cover;
}
.name{
    display:flex;
    justify-content:center;
    align-items:center;
}
.name h5{
    padding-left: 10px;
    font-weight:600;
    color:#fff
}
.icons{
    display:flex;

}
.icon{
    padding:8px;
    background-color:#0a0a1357;
    margin-left:8px;
    border-radius:24px;
    color:#fff;
    cursor: pointer;
}
.friend-search{
    padding:0px 8px;
}
.search{
    display:flex;
    width:100%;
    height:40px;
    background-color:#15162559;
    border-radius:50px;
    margin:20px 0px;
}
.search button{
    padding:2px 15px;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
    border:none;
    color:#fff;
    font-size:20px;
    background-color:transparent;
    
}
.searchBar{
    width:100%;
    border:none;
    color:white;
}
.dotsDiv{
    position:absolute;
    background-color:white;
    color:black;
    top:6.2rem;
    left:12.3rem;
    height:80px;
    width:142px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#9adda1;
    box-shadow:1px 2px 4px #15162559;
    border-top-left-radius:22px;
    border-bottom-right-radius:22px;
}
.dotsDiv button{
    border:none;
    background:transparent;
    background-color:red;
    border:none;
    padding:5px 12px;
    box-shadow:2px 2px 3px #9ea29f;
    
    color:black;
    font-weight:450;
    
}